$pink:#efb1fd;
$lightPurple:#624dc7;
$purple:#322869;
$darkPurple:#130F2A;
$white:#FFFFFF;
$black:#000000;

$break:800px;
$contW:700px;
$contWM:316px;

$top:2px;
$bottom:-64px;
$twitter:2px;
$linkedin:-62px;
$email:-126px;

$bgW:1000px;


body {
	background:$pink url('../images/noiseBG.gif');
	color:$white;
	font:16px 'Merriweather', georgia, serif;
	position:relative;
	text-shadow: 1px 1px 1px $darkPurple;
}
a:link, a:visited {
	background-color:$lightPurple;
	color:$white;
	text-decoration:none;
	text-shadow:0px 0px 0px $white;
}
a:hover, a:active {
	background-color:$white;
	color:$purple;
}
header, section, footer {
	margin:0 auto;
	width:$contW;
}
header, footer {
	background-color:$purple;
	padding:1em;
}
header {
	margin-top:1em;
	img {
		float:right;
		padding-left:1em;
	}
	h1 {
		margin:0;
	}
}
.contactWrap {
	display:block;
	margin:1em 0;
	width:$contWM;
}
.contact {
	display:block;
	margin:0 auto;
	width:188px;
	a:link, a:visited {
		background-image:url('../images/contactSprite.png');
		float:left;
		height:52px;
		width:52px;
	}
	a:nth-child(2) {
		margin:0 1em;
	}
	a.t:link, a.t:visited {
		background-position:$twitter $top;
	}
	a.l:link, a.l:visited {
		background-position:$linkedin $top;
	}
	a.e:link, a.e:visited {
		background-position:$email $top;
	}
	
	a.t:hover, a.t:active {
		background-position:$twitter $bottom;
	}
	a.l:hover, a.l:active {
		background-position:$linkedin $bottom;
	}
	a.e:hover, a.e:active {
		background-position:$email $bottom;
	}
}
section {
	padding:0 1em;
}
article {
	color:$darkPurple;
	padding:1em 0;
	text-shadow: 1px 1px 1px $white;
	h2 {
//		float:right;
		text-align:center;
	}
	img {
		float:left;
		margin:0 1em 1em 0;
	}
	a:link, a:visited {
		background-color:$white;
		color:$darkPurple;
		text-shadow:0px 0px 0px $darkPurple;
	}
	a:hover, a:active {
		background-color:$purple;
		color:$white;
	}
}
article:nth-child(2) {
	border-top:0.2em solid $purple;
	border-bottom:0.2em solid $purple;
}
footer {
	margin-bottom:1em;
}
@media only screen and (max-width: $break) {
	header, section, footer {
		width:$contWM;
	}
	header {
		img {
			margin-bottom:1em;
			padding:0;
			width:$contWM;
		}
	}
	article {
		img {
			display:block;
			float:none;
			margin:0 auto;
			padding:0;
		}
	}
}
@media only screen and (min-width: $break + 1) {
	
}


.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
.clear {
	clear:both;
}




//.bg {
//	background-color:green;
//	height:2000px;
//	left:50%;
//	margin-left:-1*$bgW/2;
//	position:fixed;
//	top:0;
//	width:$bgW;
//	z-index:-1000;
//}